.usermsg {
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    width: fit-content;
    padding: 4px;
    padding-right: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 3px;

}

.usermsg .user-img-container img {
    width: 100%;
  }
 .usermsg .user-img-container {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
  }